.navbar-nav{
 background-color: lightblue;
}

/* .container1{
    background-image: url('https://shethonemarinamarinelines.com/assets/images/One-marina-Website-banner.jpg');
}

@media only screen and (max-width: 600px) {
    .container1{
    background-image: url('https://shethonemarinamarinelines.com/assets/images/One-marina-Website-banner-m.jpeg');
    }
} */

.image2{
    display: none;
 }
 
 @media only screen and (max-width: 500px){ 
    .image2{
      display: none;
    }
 
    .image1{
      display: block;
    }
 }