.navbar-nav{
 background-color: lightblue;
}

.container1{
    background-image: url('https://shethonemarinamarinelines.com/assets/images/One-marina-Website-banner.jpg');
}

@media only screen and (max-width: 600px) {
    .conatiner1{
    background-image: url('https://shethonemarinamarinelines.com/assets/images/One-marina-Website-banner-m.jpeg');
    }
}